

html, body {
	max-width: 100%;
	overflow-x: hidden;
 }

.floaty {display: block;}

h1 {
	font-family: BlackJack;
	font-size: 80px;
	color: black;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none; /* Rules below not implemented in browsers yet */
	user-select: none;
	cursor: default;
 }

.center-vertically {
	min-height: 100%; /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
 }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.socialbutton{
padding: 10px;
}

.socialcontainer{
padding-top: 20px;
}

a{
color: #333333;
text-decoration: underline;
}

a:hover{
	color: #262626;
	text-decoration: none;
}

a:active{
color: #262626;
}

a:visited{
color: black;
}

.footerclass{
	position: absolute;
bottom: 10px;
}

body {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
 }

@keyframes fadein {from}

to {opacity: 1;}

{}

/* Firefox < 16 */
@-moz-keyframes fadein {from}

to {opacity: 1;}

{}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {from}

to {opacity: 1;}

{}

/* Internet Explorer */
@-ms-keyframes fadein {from}

to {opacity: 1;}

{}

/* Opera < 12.1 */
@-o-keyframes fadein {from}

to {opacity: 1;}

{}

	.profile {
		position: relative;
		overflow: hidden;
		width: 500px;
	 }

<!-- BlackJack Class -->

@font-face {
	font-family: BlackJack;
	src: url(./fonts/blackjack.ttf);
 }

<!-- Helvetica Neue Class -->

@font-face {
	font-family: "Helvetica Neue";
	src: url(./fonts/HelveticaNeue.ttf) format("truetype");
 }

.HelveticaNeue {font-family: "Helvetica Neue";}

@font-face {
	font-family: "Helvetica Neue UltraLight";
	src: url(./fonts/HelveticaNeueUltraLight.ttf) format("truetype");
 }

.HelveticaNeueUltraLight {font-family: "Helvetica Neue UltraLight";}

@font-face {
	font-family: "Helvetica Neue Medium";
	src: url(./fonts/HelveticaNeueMedium.ttf) format("truetype");
 }

.HelveticaNeueMedium {font-family: "Helvetica Neue Medium";}

@font-face {
	font-family: "Helvetica Neue Bold";
	src: url(./fonts/HelveticaNeueBold.ttf) format("truetype");
 }

.HelveticaNeueBold {font-family: "Helvetica Neue Bold";}
